// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carts {
    table {
        border-collapse: collapse;
    }
    td {
        padding: 0.5em;
    }
    td.quantity {
        white-space: nowrap;
    }
    td.quantity::after {
        content: "x";
    }
    td.price {
        font-weight: bold;
        text-align: right;
    }
    tfoot {
        th, td.price {
            font-weight: bold;
            padding-top: 1em;
        }
        th {
            text-align: right;
        }
        td.price {
            border-top: solid thin;
        }
    }
    input[type="submit"] {
        background-color: #881;
        border-radius: 0.354em;
        border: solid thin #441;
        color: white;
        font-size: 1em;
        padding: 0.354em 1em;
    }
    input[type="submit"]:hover {
        background-color: #992;
    }
}