<% if line_item == @current_item %>
<tr class="line-item-highlight" >
<% else %>
<tr>
<% end %>
    <td class="quantity"><%= line_item.quantity %></td>
    <td><%= line_item.product.title %></td>
    <td class="price"><%= number_to_currency(line_item.total_price) %></td>
    <% if line_item.quantity == 1 %>
        <td><%= button_to 'Remove item', line_item_url(id: line_item.id, product_id: line_item.product.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
        <td><%= button_to 'Remove item', line_item_url(id: line_item.id, product_id: line_item.product.id), method: :patch, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
</tr>
