<!DOCTYPE html>
<html>
  <head>
    <title>Pragprog Books Online Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main">
      <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf' %>
      <h1><%= @page_title %></h1>
    </header>
    <section class="content">
      <nav class="side_nav">
        <div class="time">
          <% Time.zone = 'Eastern Time (US & Canada)' %>
          <% if Time.zone.now.dst? %>
            <% t = Time.zone.now %>
            <% t.hour + 1 %>
            <%= Time.now.in_time_zone("EST").strftime("#{t.hour}:%M:%S %p") %>
          <% else %>
            <%= Time.now.in_time_zone("EST").strftime("%I:%M:%S %p") %>
          <% end %>
        </div>
        
        <div id="cart" class="carts">
          
          <%= render_if @cart && @cart.line_items.any?, @cart %>
        </div>
        
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/questions">Questions</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>

    <main class='<%= controller.controller_name %>'>
      <%= yield %> 
    </main>
    </section>
  </body>
</html>
